<!-- templates/bizcoach/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leap</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <a href="{% url 'index' %}" class="header-link">LEAP</a>
            <img src="{% static 'img/reset_icon.png' %}" alt="reset" class="reset-icon" id="reset-chat">
        </div>
        <div class="chat-messages" id="chat-messages">
            <div id="greeting" class="center-content">
                <p class="greeting-text">Hi there!</p>
                <p class="greeting-text">What brought you here today?</p>
                <p class="intro-text">Below are a few popular questions from people managers for your reference:</p>
                <div class="suggestions">
                    <div class="suggestion" data-question="I have an issue with one of my direct reports">I have an issue with one of my direct reports</div>
                    <div class="suggestion" data-question="How can I give feedback in a constructive way?">How can I give feedback in a constructive way?</div>
                    <div class="suggestion" data-question="How can I inspire someone who is not motivated?">How can I inspire someone who is not motivated?</div>
                    <div class="suggestion" data-question="How can I improve performance within my team?">How can I improve performance within my team?</div>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" id="message" placeholder="Type a message...">
            <button id="send-button">Send</button>
            <button id="mic-button" class="round-button"><img src="{% static 'img/mic_icon.png' %}" alt="mic" class="mic-icon"></button> <!-- Add mic button -->
        </div>
    </div>

    <!-- Inline modal dialog -->
    <div id="reset-modal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to clear the chat history and start from scratch?</p>
            <button id="confirm-reset">Yes</button>
            <button id="cancel-reset">No</button>
        </div>
    </div>

    <!-- Inline modal dialog for mic -->
    <div id="mic-modal" class="modal">
        <div class="modal-content mic-content">
            <img src="{% static 'img/close_icon.png' %}" alt="close" class="close-icon" id="close-mic-modal">
            <div class="waveform" id="waveform">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <textarea id="transcription" class="transcription" placeholder="Transcription will appear here..."></textarea>
            <textarea id="audio_response" class="transcription" placeholder="Response will appear here..."></textarea>
            <button id="send-audio-button"><img src="{% static 'img/send_icon.png' %}" alt="send" class="send-icon"></button>
        </div>
    </div>


    <script>
        // Transcribe scripts
        let stream = null;
        let recording = false;
        let mediaRecorder = null;
        let audioChunks = [];
        const transcriptionArea = document.getElementById('transcription');
        const audioResponseArea = document.getElementById('audio_response');

        // Configure marked with sanitize option
        marked.setOptions({
            gfm: true,
            breaks: true
        });

        $(document).ready(function() {

            
            
            function hideSuggestions() {
                $('#greeting').remove();
            }

            function bindSuggestionClick() {
                $('.suggestion').click(function() {
                    var question = $(this).data('question');
                    $('#message').val(question);
                    hideSuggestions();
                });
            }

            // Extracted sendMessage function
            function sendMessage() {
                var message = $('#message').val();
                if (message.trim() !== '') {
                    hideSuggestions();
                    
                    // Append the user's message immediately
                    $('#chat-messages').append('<div class="message-container right"><div class="message right">' + marked.parse(message) + '</div></div>');
                    $('#message').val('');
                    var chatMessages = document.getElementById('chat-messages');
                    chatMessages.scrollTop = chatMessages.scrollHeight;

                    // Show loading animation
                    var responseContainer = $("<div class='message-container left'><img src='{% static 'img/lady_icon.png' %}' alt='icon' class='icon'><div class='message left'><div class='loading-dots'><span>.</span><span>.</span><span>.</span></div></div></div>");
                    $('#chat-messages').append(responseContainer);
                    chatMessages.scrollTop = chatMessages.scrollHeight;

                    // Send the message to the server
                    $.post("{% url 'send_message' %}", {
                        'message': message,
                        'mode': 'text',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }, function(data) {
                        if (data.message) {
                            // Typing effect for the response message
                            var cleanedResponse = data.response.replace(/【[^】]*】/g, '');
                            var responseMessage = marked.parse(cleanedResponse);
                            var messageElement = responseContainer.find('.message.left');
                            messageElement.find('.loading-dots').remove(); // Remove loading animation
                            typeMessage(messageElement, responseMessage);
                        }
                    });
                }
            }

            function typeMessage(element, message) {
                var index = 0;
                function type() {
                    if (index < message.length) {
                        element.html(message.substring(0, index + 1));
                        var chatMessages = document.getElementById('chat-messages');
                        chatMessages.scrollTop = chatMessages.scrollHeight;
                        index++;
                        setTimeout(type, 5); // Adjust typing speed here
                    }
                }
                type();
            }

            // Updated to use the sendMessage function
            $('#send-button').click(sendMessage);

            // Added keypress event listener
            $('#message').keypress(function(event) {
                if (event.which == 13) { // Enter key pressed
                    sendMessage();
                }
            });

            $('#reset-chat').click(function() {
                $('#reset-modal').css('display', 'flex'); // Show the modal dialog
            });

            $('#confirm-reset').click(function() {
                $('#chat-messages').empty();
                $('#chat-messages').append(
                    `<div id="greeting" class="center-content">
                        <p class="greeting-text">Hi there!</p>
                        <p class="greeting-text">What brought you here today?</p>
                        <p class="intro-text">Below are a few popular questions from people managers for your reference:</p>
                        <div class="suggestions">
                            <div class="suggestion" data-question="I have an issue with one of my direct reports">I have an issue with one of my direct reports</div>
                            <div class="suggestion" data-question="How can I give feedback in a constructive way?">How can I give feedback in a constructive way?</div>
                            <div class="suggestion" data-question="How can I inspire someone who is not motivated?">How can I inspire someone who is not motivated?</div>
                            <div class="suggestion" data-question="How can I improve performance within my team?">How can I improve performance within my team?</div>
                        </div>
                    </div>`
                );
                bindSuggestionClick(); // Rebind click handler for suggestions
                $('#reset-modal').hide(); // Hide the modal dialog
            });

            $('#cancel-reset').click(function() {
                $('#reset-modal').hide(); // Hide the modal dialog
            });

            bindSuggestionClick(); // Initial bind of click handler for suggestions

            // Mic button click event
            $('#mic-button').click(function() {
                $('body').addClass('modal-open'); // Add this line
                $('#mic-modal').css('display', 'flex');

                navigator.mediaDevices.getUserMedia({ audio: true })
                .then(mediaStream => {
                    stream = mediaStream;
                    recording = true;
                    startRecording();
                })
                .catch(error => {
                    console.error('Error accessing media devices:', error);
                });
            });

            // Close mic modal
            $('#close-mic-modal').click(function() {
                $('body').removeClass('modal-open'); // Add this line
                $('#mic-modal').css('display', 'none');
                stopRecording();
            });

            // Send audio button click event (for demonstration purposes)
            $('#send-audio-button').click(function() {
                // Placeholder for sending audio functionality
                //$('#mic-modal').css('display', 'none');
                stopRecording();

                // Send the message to the server
                $.post("{% url 'send_message' %}", {
                    'message': transcriptionArea.value,
                    'mode': 'audio',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function(data) {
                    if (data.message) {
                        // Typing effect for the response message
                        var cleanedResponse = data.response.replace(/【[^】]*】/g, '');
                        var responseMessage = marked.parse(cleanedResponse);

                        var plainTextResponse = $("<div>").html(responseMessage).text();
                        $('#audio_response').val(plainTextResponse);

                        // textToSpeech(plainTextResponse);
                        
                        // Play TTS audio
                        playAudio(data.audio_url);
                        
                        //audioResponseArea.value = plainTextResponse;
                    }
                });
            });
        });
        
        function validateAudioBlob(audioBlob) {
            return new Promise((resolve, reject) => {
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);

                audio.oncanplaythrough = () => {
                    resolve(true);
                };

                audio.onerror = () => {
                    reject('Invalid audio data');
                };

                audio.load();
            });
        }

        function startRecording() {
            mediaRecorder = new MediaRecorder(stream, {
                mimeType: 'audio/webm;codecs=opus'
            });

            mediaRecorder.addEventListener('dataavailable', async event => {
                audioChunks.push(event.data);
                const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                console.log('Audio chunk received:', event.data);
                console.log('Blob size:', audioBlob.size);

                try {
                    const isValid = await validateAudioBlob(audioBlob);

                    if (isValid) {
                        const formData = new FormData();
                        formData.append('audio', audioBlob);

                        console.log('Sending audio blob with size:', audioBlob.size);

                        fetch('/transcribe/', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.transcription) {
                                transcriptionArea.value += data.transcription + '\n';
                            } else {
                                console.log('Received undefined transcription, skipping');
                            }
                        })
                        .catch(error => {
                            console.error('Error during transcription:', error);
                        });

                        audioChunks = [];
                    } else {
                        console.error('Invalid audio data, skipping chunk');
                    }
                } catch (error) {
                    console.error('Error validating audio blob:', error);
                }
            });

            mediaRecorder.start(); // Start recording

            setTimeout(() => {
                if (recording) {
                    mediaRecorder.stop();
                    startRecording(); // Start a new recording session
                }
            }, 3000); // Stop recording after 10 seconds
        }

        function stopRecording() {
            recording = false;
            if (mediaRecorder && mediaRecorder.state === 'recording') {
                mediaRecorder.stop();
            }
        }
        function textToSpeech(text) {
            var speechSynthesis = window.speechSynthesis;
            var utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
        }

        function playAudio(audioUrl) {
            var audio = new Audio(audioUrl);
            audio.play();
        }

    </script>
</body>
</html>
